@import 'variables';
@import 'mixins';

.custom-input-file {
    width: 100% !important;
    @include tablet {
        width: 40% !important;
    }
    background-color: $lightBlue;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 400px;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }

.d-none {
    display: none !important;
}
.bg-white { 
    background: $white;
}

.w-65 {
    width: 65%;
}

.w-20 {
    width: 20%;
}



.w-40 {
    width: 40%;
}

.darkGreen {
    background-color: $darkGreen !important;
}

.bg-light-green {
    background-color: $lightGreen;
}


.w-15 {
    width: 15%;
}
.w-10 {
    width: 10%;
}
.w-30 { 
    width: 30%;
}
.w-35 { 
    width: 35% !important;
}

.w-95 { 
    width: 95%;
}

.calc-30 {
    flex: 0 1 calc(20% - 1rem);
}

.fixed {
    position: fixed;
    width: 100%;
}
.text-align-left {
    text-align: left;
}

.text-darkness {
    color: black !important;
    font-weight: bolder;
}

.bg-darkness {
    background-color: black !important;
}

.text-orange {
    color: #ff454e;

}
.threm {
    font-size: 2rem;
}
.m-right-1 {
    margin-right: 1rem;
}


ol, ul {
    padding-left: 0rem !important;
}

.darkWhiteSpecial {
    background-color:#f9f9f9;
}