// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

$fuente_principal: 'Poppins', sans-serif;

$font-family-sans-serif: $fuente_principal;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$white: white;
$lightBlue: #26c6da;
$lightGreen: #00c99a;
$midWhite: #f7f8f8;
$lightPurple: #8f6dca;
$lightAzulSpa: #568cc8;
$darkGreen: #b0c4b1;
$graySkills: #9999991a;
$color_messages_sender: #0742420a;
$color_messages_response: #bdcdd5;
@import '../../node_modules/bootstrap/scss/bootstrap';
