@import '../base/variables';
@import '../base/mixins';

.contact-foot {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
  flex-flow: column wrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $form_colours;
  align-items: center;
  @include tablet {
    width: 70%;
  }
  width: 100%;
  align-self: center;

  .text-area-contact {
    width: 69%;
    align-self: center;
  }

  .form-contact-foot {
    align-items: center;

    * {
      width: 91%;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.content-contact-foot {
  @include grid(2);
}
